@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2e6;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title {
  text-align: center;
  font-size: 30px;
  color: rgba(12, 73, 135, 0.8);
  margin-top: 20px;
  margin-bottom: 15px;
}

#form {
  width: 80%;
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: rgba(12, 73, 135, 0.6);
  border-radius: 5px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0 5px 0;
  font-size: 16px;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  display: block;
  margin: 20px auto 0 auto;
  height: 40px;
  width: 100%;
  background-color: rgba(12, 73, 135, 0.8);
  color: white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(60, 164, 90);
  transform: translateY(-2px);
}

body .footer {
    font-size: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 6px;
}

body .footer p {
    margin: 0;
    font-size: 10px;
    color: #333;
}

/* Validation error style */
form .error {
    color: white;
    background-color: rgba(255, 0, 0, 0.8);  /* Red background */
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
}

.success-message {
    color: green;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
  #form {
    width: 90%;
    padding: 15px 20px;
  }

  #title {
    font-size: 28px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    margin-left: 0;
    padding: 0;
  }

  #form {
    width: 90%;
    padding: 10px 15px;
  }

  #title {
    font-size: 22px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
